{{ define "main" }}


{{ partial "nav2" . }}


<div class="row hero pt-5 mx-0 px-2 d-flex align-items-center">
    <div class="col-6 offset-md-1">
        <p class="largetext">
            The Census Linking Project links each wave of the complete-count historical Census (1850-1940) to every other wave using a wide variety of frontier linking algorithms.
        </p>
    </div>
    <div class="col-4 pl-3">
        {{ partial "census-graphic" . }}
    </div>
</div>
<div class="row cta">
    <div class="col-10 offset-md-1 d-flex align-items-center">
        <a href="/data" class="data-cta">
            <div class="orangetext data-cta-heading">
                Get the Data
            </div>
            <p class="orangetext regular">
                Download the crosswalk files <img class="rtarrow" src="/images/icons/rightarrow-orange.svg" />
            </p>
        </a>    
    </div>
</div>   






  


{{ end }}
