{{ define "main" }}


   

<div id="scrollTarget1" class="row about-us m-0 scroll-to-target">
    <div class="col-10 offset-1 col-md-5 col-lg-4 offset-lg-2 px-3 personnel my-6 my-md-6 my-xl-8" style="background-image: url('/images/Personnel-2x-5.jpg')"></div>
    <div class="col-xs-10 col-md-5 col-lg-4 px-3 pt-0 pb-8 pt-md-16 pb-md-18">
        <!--<h3 tabindex="0" class="dkgraytext mb-3">About Us</h3>-->
        <p class="dkgraytext">{{ .Content }}
        </p>
    </div>
</div>




{{ end }}

