h1 {
    @include aktiv-regular;
    font-size: 6rem;
    @include media-breakpoint-up(md) {
      font-size: 7rem;
    }
    color: #343434;
}
h2,
div.h2 {
  @include futura-bold;
  font-size: 3.2rem;
  @include media-breakpoint-up(sm) {
    font-size: 3.2rem;
    line-height: 2.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 5rem;
    color: #FFFFFF;
    letter-spacing: 0.049rem;
    line-height: 7rem;
  }

}

h3 {
  @include futura-medium;
  font-size: 1.7rem;
  @include media-breakpoint-up(sm) {
    font-size: 3.2rem;
    line-height: 2.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 5rem;
    color: #FFFFFF;
    letter-spacing: 0.049rem;
    line-height: 7rem;
  }
}

h4 {
  @include futura-demi;
    font-size: 2.4rem;
    line-height: 3rem;
    // letter-spacing: .03rem;


  @include media-breakpoint-up(md) {
      font-size: 3rem;
      line-height: 3.8rem;
      letter-spacing: .07rem;
   
  } 
}


h5 {
  @include futura-medium;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  //font-size: 1.4rem;
  color: #FFFFFF;
 // letter-spacing: .2rem;
  // text-align: center;
  line-height: 2.4rem;
}

div, p, span {
    @include aktiv-light;
    font-size: 1.5rem;
    line-height: 1.55;
    .datamenu {
        font-size: 1.5rem;
    }
}
.footnote {
  font-size: 1.4rem;
}
.datamenu label {
    font-size: 1.5rem;
}
.years, .codes, .docs {
   // text-decoration: underline;
    color: #6247AA;
    font-weight: 400;
   // text-underline-position: under;
   &.datafile {
        font-size: 2.4rem;
        @include media-breakpoint-up(md) {
          font-size: 2.8rem;
        }
   }
}
.intro p {
   // font-weight: 400;
}

div, p, span {
    color: #343434;
}
.largetext {
  font-size: 2rem;
  @include media-breakpoint-up(md) {
    font-size: 2.326rem;
  }
}
.orangetext {
  color: $clporange;
}
select {
    border: none;
    background: url('images/icons/downarrow.svg');
    -webkit-appearance: none;
    padding-right: 2.4rem;
    background-position: right center;
    background-repeat: no-repeat;
    @include aktiv-regular;
    font-size: 4.2rem;
    margin-left: 0;
    padding-left: 0;
    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
    color: #6247AA;
}
select#census1:focus, select#census2:focus {
  outline: 2px dotted #9a9a9a;
  padding: .4rem 2.4rem .4rem .4rem;
  margin: -.4rem 0rem -.4rem -.4rem;
  @include media-breakpoint-up(md){
    padding: 4px 2.4rem 4px 4px;
    margin: -.4rem 0 -.4rem -.4rem;
  }
}
.pullquote {
  font-size: 3rem;
  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }
  border-top: 1px solid $clporange;
  border-bottom: 1px solid $clporange;
  @include media-breakpoint-up(md){
    font-size: 4rem;
  }
}
.med-text {
  font-size: 2.6rem;
}
.f-16 {
  font-size: 1.6rem;
  line-height: 1.6;
}
.memberName {
  font-size: 3rem;
}
.regular, .regular span {
    @include aktiv-regular;
}
.data-notes p {
    font-size: 1.4rem;
}

a {
    color: #6247AA;
    text-decoration: underline;
    font-weight: 400;
    &:hover {
        color: #3c247b;
    }
}
hr {
    border-top: 1px solid #A5A5A5;
}