.type-blog {
    a:hover {
        color: #04143c;
        //text-decoration: underline;
    }
    nav a:hover {
        color: #fff;
    }
    .wrapper {
        min-height: 52vh;
    }
    h1 {
        @include futura-medium;
        font-size: 1.7rem;
        @include media-breakpoint-up(sm) {
          font-size: 5rem;
          line-height: 1.4;
        }
        @include media-breakpoint-up(md) {
          font-size: 5rem;
          //color: #FFFFFF;
          letter-spacing: 0.049rem;
          line-height: 7rem;
          max-width: 66%;
        }
      }
    h2 {
        font-size: 3rem;
        letter-spacing: 0.049rem;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 1.35;
    }
    a.readmore {
        font-weight: 600;
        letter-spacing: 0.2rem;
        color: $midnightblue;
            @include futura-medium;
            font-size: 1.6rem;
            letter-spacing: 0.15rem;
            //font-size: 1.4rem;
           // color: #FFFFFF;
           // letter-spacing: .2rem;
            // text-align: center;
            line-height: 2.4rem;
          

        
    }
    p {
        font-family: futura-pt,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.7rem;
        letter-spacing: .035rem;
        line-height: 1.5;
    }
    &.kind-section .bloglist-item {
        
        &.blog-thumb {
            img {
            height: 72px;
            width: 72px;
            border-radius: 50%;
            background-color: aliceblue;
            border: 1px solid #020e2726;
            }
    
            @include media-breakpoint-up(lg) {
                img {
                height: 88px;
                width: 88px;
                background-color: aliceblue;
                border: 1px solid #020e2726;
                border-radius: 50%;
                }
            }    
        }  
        h2 {
            
        }
        .readmore {
            
            margin-top: 3.2rem;
        }
        svg {
            top: -1px;
            position: relative;
            g.rightarrow {
            stroke: #000;
            }
        }
    }  
    &.kind-page {
        img.bloghero {
            max-width: 100%;
            @include media-breakpoint-up(lg) {
            max-width: 85%;
            }
            @include media-breakpoint-up(xl) {
                max-width: 100%;
                }
        }
        h1 {
            line-height: 1.2;
        }
        h2 {
           line-height: 1.35; 
           font-size: 2.6rem;
            letter-spacing: 0.049rem;
            font-family: futura-pt, sans-serif;
            font-weight: 300;
            @include media-breakpoint-up(md) {
                max-width: 66%;
            }
        }
        h3 {
            line-height: 1.5; 
            font-size: 2.3rem;
             letter-spacing: 0.03rem;
             font-family: futura-pt, sans-serif;
             font-weight: 500;
             color: #021029;
             padding-top: 0.8rem;
             padding-bottom: 2.4rem;
             @include media-breakpoint-up(md) {
                margin-right: 16%;
                padding-right: 17%;
                border-right: 1px solid #d4d4d4;
                margin-bottom: 0;
             }
         }
        p {
            @include media-breakpoint-up(md) {
                margin-right: 16%;
                padding-right: 17%;
                border-right: 1px solid #d4d4d4;
            }    
            margin-bottom: 0;
            padding-bottom: 24px;
        }
        p img {
            max-width: 100%;
            margin-top: 2.4rem;
           // margin-bottom: 2.4rem;
            @include media-breakpoint-up(md) {
                max-width: 115%;
                margin: -24px 0 -24px 33%;
                border-top: 56px white solid;
                border-bottom: 40px white solid;
            }    
        }
        p.blogcaption {
            @include media-breakpoint-up(md) {
                max-width: 115%;
                margin: -24px 0 0 23%;
            }    
            font-weight: 300;
            font-style: italic;
            padding-right: 0;
            border-right: none;
        }
        p a {
            font-weight: 600;
            color: #072c71;
            letter-spacing: 0.01rem;
        }
    }
}