html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}
#main {
  //overflow: hidden;
}

// Custom gutter widths
@include media-breakpoint-up(xs) {
  .row {
    margin-left: 16px;
    margin-right: 16px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 16px;
    padding-right: 16px;
  }
  // nav.navbar {
  //   margin: 0 12px;
  //
  // }
  
}
nav.navbar > div {
  padding: 0 16px;
}
@include media-breakpoint-up(mm) {
  nav.navbar > div {
    padding: 0 24px;
  }
}

@include media-breakpoint-up(lg) {
  .row {
    margin-left: 16px;
    margin-right: 16px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 16px;
    padding-right: 16px;
  }
  // nav.navbar {
  //   margin: 0 16px;
  // }
  nav.navbar > div {
    padding: 0 32px;
  }
}

@include media-breakpoint-up(xl) {
  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 20px;
    padding-right: 20px;
  }
  // nav.navbar {
  //   margin: 0 20px;
  // }
  nav.navbar > div {
    padding: 0 20px;
  }
}

// Colors & Utilities

.whitetext {
  color: #fff;
}
.dkgraytext {
  color: #021029;
}
.dkbluebg {
  background-color: #021029;
}
.orangebg {
  background-color: $boldorange;
}
a.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Basic fonts and text styles
h1 {
  //font-family: $sharpgrotesk-med-20;
}

h2,
div.h2,
h3,
h4,
h5,
nav a {
  //font-family: $sharpgrotesk-med-20;
}

p, ul, textarea, input {
  @include futura-book;
    font-size: 1.6rem;
    letter-spacing: 0.035rem;
    line-height: 2.4rem;
}

ul {
  list-style: none;
}

span.bold-bullet {
  @include futura-bold;
}
span.bitter-reg {
  @include bitter-reg;
}
span.bitter-bold {
  @include bitter-bold;
  font-size: 3.8rem;
  display: inline-block;
  position: relative;
  top: 1px;
  //letter-spacing: .5rem;
}
span.omega {
  @include bitter-black;
  font-size: 5.1rem;
  display: inline-block;
  position: relative;
  top: 0px;
  //letter-spacing: .5rem;
}
span.bitter-black {
  @include bitter-black;
  font-size: 3.5rem;
}
span.futura-zero {
  font-size: 2.9rem;
  @include media-breakpoint-up(md) {
    font-size: 4.35rem;
  }
  
}

h2,
div.h2 {
  @include futura-bold;
  font-size: 3.2rem;
  @include media-breakpoint-up(sm) {
    font-size: 3.2rem;
    line-height: 2.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 5rem;
    color: #FFFFFF;
    letter-spacing: 0.049rem;
    line-height: 7rem;
  }

}

h3 {
  @include futura-medium;
  font-size: 1.7rem;
  @include media-breakpoint-up(sm) {
    font-size: 3.2rem;
    line-height: 2.7rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 5rem;
    color: #FFFFFF;
    letter-spacing: 0.049rem;
    line-height: 7rem;
  }
}

h4 {
  @include futura-demi;
    font-size: 2.4rem;
    line-height: 3rem;
    // letter-spacing: .03rem;


  @include media-breakpoint-up(md) {
      font-size: 3rem;
      line-height: 3.8rem;
      letter-spacing: .07rem;
   
  } 
}


h5 {
  @include futura-medium;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  //font-size: 1.4rem;
  color: #FFFFFF;
 // letter-spacing: .2rem;
  // text-align: center;
  line-height: 2.4rem;
}

a.readmore svg {
    top: -1px;
    position: relative;
    g.rightarrow {
    stroke: #000;
    }
  }
#teaser {
  .col-12 {
    margin-top: 9px;
    margin-bottom: 9px;
  }
  a {
  font-weight: 600;
  font-size: 1.4rem;
  &.readmore svg {
    g.rightarrow {
    stroke: #fff;
    }
  }
}  
}

// Page container
.container.parent {
  padding-right: 0;
  padding-left: 0;
}

//
// General custom elements
//
// Sticky top fix for safari
.sticky-top {
  @supports (position: sticky) or (position: -webkit-sticky) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-child {
  flex: 0 1 auto;
}

.one-third {
  max-width: 33%;
}

.two-thirds {
  max-width: 66%;
}

.alt-bg {
  background: #f6f9f9;
}

// Color classes

.colorblue {
  color: $seda-buttonblue;
}
.colorred {
  color: $seda-red;
}
.colornavy {
  color: $seda-navy;
}
.colormidblue {
  color: #103698;
  //font-style: italic;
}

// Custom button style
.btn-custom {
  display: inline-block;
  // font-family: $sharpgrotesk-med-15;
  font-size: 1.4rem;
  letter-spacing: .064rem;
  line-height: 4.4rem;
  background-color: #e23e00;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  width: 176px;
  height: 48px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:active,
  &:hover,
  &:focus {
    background-color: darken($seda-red, 15%);
    color: $white;
  }
  svg.fa-external-link-square-alt {
    width: 13px;
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
}

// Custom button style
.btn-dark {
  display: inline-block;
  // font-family: $sharpgrotesk-med-15;
  font-size: 1.4rem;
  letter-spacing: .064rem;
  line-height: 4.4rem;
  background-color: $seda-dark;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  width: 176px;
  height: 48px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:active,
  &:hover,
  &:focus {
    background-color: lighten($seda-dark, 15%);
    color: $white;
  }
}

input.form-control {
  height: 48px;
}

.container.parent > #main > .row {
  margin-right: 0;
  margin-left: 0;
}

// Header


nav.inner-page-nav {
  height: 48px;
  position: fixed;
  background-color: #fff;
  //background-color: #021029;
  z-index: 2;
  .wordmark, .nav-menu {
    font-weight: 400;
    font-family: futura-pt, sans-serif;
  }
  .wordmark a {
    font-size: 18px;
    color: #fff;
  }
  a.menu-active {
    color: #3967ff;
  }
  a {
    color: #6275b3;
    color: #fff;
    color: #c5c5c5;
    font-size: 16px;
  }
  &.sticky-top {
    border-bottom: 0.5px solid #7b7b7b;
  }
}
.home {
  nav {
    background-color: #fff;
    &.sticky-top {
      background-color: #021029;
    }
  }
  nav .wordmark {
    opacity: 0;
  }
  nav.sticky-top .wordmark {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

body.type-help-faq, body.research {
  nav.sticky-top {
    box-shadow: none;
    border-bottom: 1px solid $seda-lightblue;
  }
}

.drawer-toggle {
 
  .navbar-toggler-icon {
    background-image: url('/images/menu2.svg');
    animation: opacity-fill .3s;
    background-color: transparent;
    border: 0;
   -webkit-appearance: none;
    border-radius: 0;
    @keyframes opacity-fill {
      /* You could think of as "step 1" */
      0% {
        opacity: 0;
      }
      /* You could think of as "step 2" */
      100% {
        opacity: 1;
      }
    }
  }
}

nav.navbar-light {
  height: 6.4rem;
  background-color: transparent; // $seda-dark;
  transition: background-color .2s ease;
  padding-right: 0;
  padding-left: 0;
  z-index: 3;
  // opacity: 0;
  @include media-breakpoint-down(sm) {
    height: 5.6rem;
  }

  .navbar-brand {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-image: url("/images/logo-ext.svg");
    //height: 33px;
    width: 238px;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 4px;
    @include media-breakpoint-up(smm) {
      width: 276px;
    }
    @include media-breakpoint-up(mm) {
      width: 290px;
    }
  }

  &.sticky-top {
    background-color: $seda-dark;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
    transition: background-color .2s ease;
    animation: slide-down .2s;
    @keyframes slide-down {
      0% {
      transform: translateY(-64px);
      }
      100% {
        transform: translateY(0px);
      }

    }

    .navbar-brand {
      animation: opacity-fill .3s;
      background-image: url("/images/logo-ext2.svg");
      @keyframes opacity-fill {
        /* You could think of as "step 1" */
        0% {
          opacity: 0;
        }
        /* You could think of as "step 2" */
        100% {
          opacity: 1;
        }
      }
    //height: 33px;
    width: 238px;
    background-size: 100%;
      @include media-breakpoint-up(smm) {
        width: 276px;
      }
      @include media-breakpoint-up(mm) {
        width: 290px;
      }
    }
    .drawer-toggle {
      .navbar-toggler-icon {
        background-image: url('/images/menu2.svg');
        animation: opacity-fill .3s;
        @keyframes opacity-fill {
          /* You could think of as "step 1" */
          0% {
            opacity: 0;
          }
          /* You could think of as "step 2" */
          100% {
            opacity: 1;
          }
        }
      }
    }
  }



  .drawer-toggle {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    color: $white;
    text-align: right;
    padding-right: 0;
    -webkit-appearance: none;
    border-radius: 0;
    .navbar-toggler-icon {
      background-image: url('/images/menu.svg');
      background-repeat: no-repeat;
      height: 38px;
      width: 33px;
      @include media-breakpoint-down(sm) {
        height: 24px;
      }
    }
  }

  &.scroll-top {
    @include media-breakpoint-up(md) {
      nav.navbar {
        // .navbar-brand {
        //   background-image: none;
        // }
        background-color: transparent !important;
      }

      // .nav-link {
      //   color: #fff;
      //
      //   &:hover {
      //     color: #fff;
      //   }
      // }
    }
  }
}

// Drawer for nav
/* The side navigation menu */
.drawer {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-right: -320px;
  text-align: center;

  @include media-breakpoint-up(mm) {
    text-align: left;
    padding-left: 4.8rem;

    .social {

    }
  }

  &.show {
    margin-right: 0;
  }

  .closebtn {
    background-image: url(/images/close.svg);
    background-repeat: no-repeat;
    height: 41px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 16px;
    margin-left: 50px;
    border: 0;
    background-color: transparent;
  }


  
  .navlinks {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;

    a {
      // padding: 8px 8px 8px 32px;
      padding: 0;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
      font-family: futura-pt;
      font-size: 2.4rem;
      line-height: 2.0rem;
      letter-spacing: .011rem;
      color: $seda-dark;
      text-transform: uppercase;
      margin-bottom: 3.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social {
    .social-icon {
      font-size: 2.4rem;
      padding-right: 1.2rem;
    }
  }
}

button.navbar-toggler {
  border: 0;
}

// Breadcrumbs
.breadcrumb-parent {
  margin-top: 3.6rem;

  .breadcrumb {
    // font-family: $brandongrotesque-med;
    font-size: 1.8rem;
    // color: $dnd-darkgreen;
    text-decoration: none;
    padding-left: 3.6rem;
    padding-top: 0;

    a,
    .sep {
      // color: $dnd-lightgray;
      text-decoration: none;
    }

    .sep {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }
  }
}

// Breaker image for single content pages
.row.breaker {
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5.6rem 0;
}

// Float image
img {
  &.float-right {
    margin-left: 3.2rem;
  }
  &.float-left {
    margin-right: 3.2rem;
  }
}

// Subnav

.subnav {
  
  top: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  z-index: 0;
  margin-left: -16px;
  padding-left: 16px;
  margin-right: 0;
  background-color: #f7f7f7;
  font-family: futura-pt,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.7rem;
        letter-spacing: .035rem;
        line-height: 1.5;
  @include media-breakpoint-up(smm) {
   
  }
  @include media-breakpoint-up(md) {
   
   
   
  }
  @include media-breakpoint-up(lg) {
   
  }
  &.sticky-top {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
  }
  &.d-md-none {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E9EAED;
    // margin-left: -16px;
    // margin-right: -16px;
    .dropdown {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .dropdown-toggle {
      width: 100%;
      font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.055rem;
        text-transform: uppercase;
        font-family: $sharpgrotesk-med-15;
        border: none;
        height: 4.7rem;
        background-color: #fff;
    }
    ul {
      border: none;
      width: 100%;
      text-align: center;
      padding: 3.2rem 0 0;
      z-index: 2;
      height: auto;
      &.show {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
      }
      li {
        display: block;
        margin-bottom: 1.6rem;
        margin-bottom: 3.2rem;
      }
    }
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    justify-content: space-between;
    // border-bottom: 2px solid #E9EAED;
    height: 100%;
    li {
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 0.055rem;
      text-transform: uppercase;
     // font-family: $sharpgrotesk-med-15;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.064rem;
        margin-top: 4px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.07rem;
      }
      a {
        cursor: pointer;
        &.highlight {
          @include media-breakpoint-up(md) {
            border-bottom: 4px solid #04143C;
            margin-top: 22px;
            padding-bottom: 19px;
        }
          @include media-breakpoint-up(lg) {
            margin-top: 10px;
            padding-bottom: 7px;
          }
         }
      }
    }
  }
}

textarea, input {
  border: 1px solid #e4e4e4;
}
.tooltip.top {
  font-size: 50px !important;
  padding: 5px 0;
  margin-top: -15px;
}

// Shadow effect
.drop-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
}
.drop-shadow-left {
  box-shadow: -2px 0px 5px rgba(0,0,0,.20);
}




// 404 page
body.kind-404 {
  .hero {
    background: $midnightblue;
    height: 100vh;
    margin-right: 0;
    margin-left: 0;
  

    .hero-child {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      background: url('/images/about-plot-2x.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 1030px 378px;
      @include media-breakpoint-up(mm) {
        background-size: 1600px 378px;
        background-position: -100px bottom;
      }
      @include media-breakpoint-up(xl) {
        background-size: 2000px 378px;
        background-position: -200px bottom;
      }
      .column {
       
        text-align: center;
        color: $white;
       
        
        p {
          font-family: futura-pt;
          font-size: 1.3rem;
          line-height: 2rem;
          letter-spacing: 0;
          margin-top: 3.2rem;
          margin-bottom: 3.2rem;
          @include media-breakpoint-up(md) {
            margin-top: 3.2rem;
            margin-bottom: 3.2rem;
            font-size: 1.8rem;
            line-height: 2.5rem;
            letter-spacing: auto;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.45rem;
            letter-spacing: auto;
          }
        }
        .btn-custom {
          width: 200px;
          font-family: futura-pt;
        }
      }
    }
  }


  .message {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
  p {
    font-family: $maisonneue-book;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0;
    @include media-breakpoint-up(md) {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: auto;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.3rem;
      line-height: 3.45rem;
      letter-spacing: auto;
    }
  }
}
.row {
  &.404 {
    min-height: 100vh;
    padding-top: 25vh;
  }
}

// Footer
#footer {
  background-color: $midnightblue;
  color: $white;

  a {
    color: #c5c5c5;
    text-decoration: none;
    letter-spacing: .4rem;
    font-weight: 400;
    font-family: futura-pt, sans-serif;
    font-size: 1.6rem;
  }
  ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    li {
      font-size: 1.6rem;
      a {
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;
          color:  $white;
        }
      }
    }
  }
  img.logo {
    width: 192px;
    margin-bottom: 2.4rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  // .row {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
  @include media-breakpoint-up(md) {
    padding-top: 6.4rem !important;
    padding-bottom: 6.4rem !important;
  }

  .navlinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    a {
      margin: 0 2.4rem .4rem;
      flex-direction: column;
    }
    @include media-breakpoint-up(md) {
      order: 1;
      justify-content: flex-start;
      a {
        margin: 0 3.2rem 0 0;
      }
    }
  }
  .social {
    text-align: center;
    font-size: 2.4rem;
    order: 5;
    a {
      margin: 0 .4rem;
    }

    @include media-breakpoint-up(md) {
      text-align: right;
      font-size: 1.6rem;
      order: 2;
      a {
        margin: 0 0 0 .8rem;
      }
      justify-content: flex-end;
    }
  }
  //  }

  .break {
    order: 3;
    hr {
      background-color: $white;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

    }
    @include media-breakpoint-up(md) {
      order: 2;
    }
  }

  .siteby {
    order: 4;
    font-family: $maisonneue-book;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: .009rem;
    text-align: center;
    margin-bottom: 2.4rem;
    a {
      text-transform: none;
    }
    @include media-breakpoint-up(md) {
      order: 4;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .institution {
    order: 3;
    font-family: $maisonneue-book;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: .009rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 2.4rem;
    @include media-breakpoint-up(md) {
      order: 5;
      text-align: right;
      justify-content: flex-end;
    }
  }
}


