{{ define "main" }}


{{ partial "nav2" . }}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 py-3 mt-15 mt-md-20 pullquote orangetext regular">
    Linking individuals across historical data sources opens up exciting new research possibilities.
  </div>
</div> 

<div class="row pb-15">
  <div id="roll-img" class="col-12 col-md-5 col-lg-4 offset-md-1 offset-lg-2 mt-6">
    
  </div>
  <div class="col-12 col-md-5 col-lg-4 mt-0 mt-md-6">
    <p>The Census Linking Project gives researchers access to a longitudinal micro-database from
      historical US Census records that spans 90 years (1850-1940). Longitudinal data allows researchers to study processes that unfold over time, such as intergenerational mobility and immigrant assimilation.</p> 

    <p>The project uses several different automated methods to link individuals across Census pairs.
    More information on these methods can be found here.</p>

    <p>We provide a series of fully anonymous crosswalks that link each wave of the Census to every
    other wave. Users can then use these crosswalks to merge in corresponding variables from
    IPUMS publicly available complete-count US Census data. More information about the data and
    its correct use can be found here.</p>
  </div>
</div>






  


{{ end }}



