{{ define "main" }}


{{ partial "nav2" . }}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 py-3 mt-15 mt-md-20 pullquote orangetext regular">
    {{ .Params.aboutblock }}
  </div>
</div> 

<div class="row pb-4 pb-md-6 pb-lg-8">
  <div id="roll-img" class="col-12 col-md-10 col-lg-4 offset-md-1 offset-lg-2 mt-6" style="background-image: url('{{ .Params.image }}');"> 
  </div>
  <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-4 mt-0 mt-lg-6">
    {{ .Content }}
  </div>
</div>

<div id="citations" class="row pt-4 pt-md-6 pt-lg-8 pb-15 mx-0 px-2">
  <div class="col-12 col-md-10 col-lg-4 offset-md-1 offset-lg-2">
    <h3>{{ .Params.citationheader }}</h3>
    <p>{{ .Params.citationtext | markdownify | safeHTML }}</p>
  </div>
  <div class="pt-3 pt-lg-0 col-12 col-md-10 col-lg-4 offset-md-1 offset-lg-0">
    <h3>{{ .Params.submitheader }}</h3>
    <p>{{ .Params.submittext | markdownify | safeHTML }}</p>
  </div>
</div>



 
 



  


{{ end }}



