{{ define "main" }}


{{ partial "nav2" . }}

<div class="analytics-reporting">

    <div class="row mx-0">  
    <div class="col-12 col-md-5 offset-md-1 offset-xl-2 mt-15">
        <p>Use controls at bottom of report to navigate between pages, and to view the report within Data Studio.
            You can also page back and forth by clicking within the report and then using left and right arrow keys.
        </p>
    </div>    
    <div class="col-12 col-md-10 col-xl-8 mx-auto mt-4 mb-8" style="overflow: scroll;">
        {{ .Content | safeHTML }}
    </div>
</div>  
</div>  

{{ end }}