{{ define "main" }}


{{ partial "nav2" . }}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 py-3 mt-15 mt-md-20">
    <h1>Contact</h1>
  </div>
</div> 

<div class="row">
    <div class="f-16 col-12 col-md-6 col-lg-5 offset-md-1 offset-lg-2 py-3">
      If you have any questions or feedback, please be in touch with us at <a href="mailto:lboustan@princeton.edu">lboustan@princeton.edu</a> (Leah Boustan) and/or <a href="mailto:myerar@princeton.edu">myerar@princeton.edu</a> (Myera Rashid). </div>
</div>









  


{{ end }}



