{{ define "main" }}
<div class="row">
  <div class="col-12">
    <table class="tg table-responsive">
        <tbody><tr>
          <th class="tg-c6of"></th>
          <th class="tg-fymr">1860</th>
          <th class="tg-fymr">1870</th>
          <th class="tg-fymr">1880</th>
          <th class="tg-fymr">1900</th>
          <th class="tg-fymr">1910</th>
          <th class="tg-fymr">1920</th>
          <th class="tg-fymr">1930</th>
          <th class="tg-fymr">1940</th>
        </tr>
        <tr>
          <td class="tg-fymr">1850</td>
          <td class="tg-p1nr">1850_1860_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1870_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1880_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1900_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1910_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1850_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1860</td>
          <td class="tg-re1e"></td>
          <td class="tg-htpk">1860_1870_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-htpk">1860_1880_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1860_1900_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1860_1910_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1860_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1860_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1860_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1870</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-htpk">1870_1880_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1870_1900_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1870_1910_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1870_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1870_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1870_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1880</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-p1nr">1880_1900_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1880_1910_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1880_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1880_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1880_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1900</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-p1nr"><a href="files/example_master_crosswalk.dta" download="" style="color: white"><u>1900_1910_crosswalk.dta</u></a><br><a href="files/codes.zip" download="" style="color: white"><u>codes_folder</u> </a><br><a href="files/documentation.zip" download="" style="color: white"> <u>documentation</u></a></td>
          <td class="tg-p1nr">1900_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1900_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1900_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1910</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-p1nr">1910_1920_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1910_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1910_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1920</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-p1nr">1920_1930_crosswalk.dta<br>codes_folder<br>documentation</td>
          <td class="tg-p1nr">1920_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
        <tr>
          <td class="tg-fymr">1930</td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-re1e"></td>
          <td class="tg-p1nr">1930_1940_crosswalk.dta<br>codes_folder<br>documentation</td>
        </tr>
      </tbody></table>
  </div>
</div>  


  {{ end }}