{{ define "main" }}

{{ partial "nav2" . }}

<div class="row">
    <div class="col-12 col-md-9 mt-15 mt-md-20 px-0 mx-auto">
        <h1>Data</h1>
    </div>
</div>
<div class="row">
    
    <div id="selectarea" class="col-12 col-md-9 mx-auto px-0 d-flex flex-wrap bordered py-5">
        <!--<div class="col-6 d-flex regular px-0">View as:<span class="view-as">Menu &nbsp; <a href="/data-table">Table</a></span></div><div class="col-6 d-flex regular px-0">Crosswalk files for<span class="file-title"></span></div>
        <div class="w-100 mb-4"></div>-->
        <div class="col col-lg-6 mb-3 pl-0 pr-3"><p>
            {{ with .Site.Data.data }}
                {{ .intro }}
                {{ end }}
        </p></div>
        <div class="col-12 col-lg-6"></div>
        <div class="col-12 col-lg-6 d-flex px-0">
            <div class="d-flex align-items-end regular datamenu">
                <span class="select-label d-block mr-2"><label for="states">Select:</label></span>
            </div>  
            <div class="year-select mr-3">
                    <p class="regular year-start datamenu">Starting year:</p>
                <form>
                    <select class="census1" id="census1">
                        <option class="" value="1850">1850</option>
                        <option value="1860">1860</option>
                        <option value="1870">1870</option>
                        <option value="1880">1880</option>
                        <option value="1890">1890</option>
                        <option value="1900">1900</option>
                        <option value="1910">1910</option>
                        <option value="1920">1920</option>
                        <option value="1930">1930</option>
                    </select>
                </form>
            </div>
       
            <div class="year-select">
                <p class="regular datamenu">Final year:</p>
                <form>
                <select class="census2" id="census2">
                        <option value="1860">1860</option>
                        <option value="1870">1870</option>
                        <option value="1880">1880</option>
                        <option value="1890">1890</option>
                        <option value="1900">1900</option>
                        <option value="1910">1910</option>
                        <option value="1920">1920</option>
                        <option value="1930">1930</option>
                        <option value="1940">1940</option>
                    </select>
                </form>    
                    <!--<input type="button" name="Submit" value="Go" class="submit-census">-->
            </div>      
       
        </div>
        <div class="col-12 col-lg-6 px-0 mt-5 mt-lg-0">
            <div id="show-crosswalk" class="datamenu" style="">
                <p class="regular datamenu">Download crosswalk and documentation:</p>
                <div id="crosswalk18501860" class="years datafile"></div>
        </div>
      
    </div>
</div> 
</div>

<div class="row">
    <div class="col-12 col-md-9 mx-auto d-md-flex py-5 px-0 data-notes">
        <div class="col-12 col-md-6 pl-0 pr-4">
            {{ with .Site.Data.data }}
                <p>{{ .para1 | safeHTML }}</p>
                <p>{{ .para2 | safeHTML }}</p>
            {{ end }}
        </div>

        <div class="col-12 col-md-6 pl-0">
            {{ with .Site.Data.data }}
                <p>{{ .para3 | safeHTML }}</p>
                <hr class="my-2"><p>{{ .para4 | safeHTML }}</p>
            {{ end }}
        </div>
    </div>
</div>






    {{/* partial "footer.html" . */}}


{{ end }}
