{{ define "main" }}


{{ partial "nav2" . }}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 pt-2 pb-1 py-md-3 mt-15 mt-md-20">
    <h1>{{ .Params.displaytitle }}</h1>
  </div>
</div> 

<div class="row mt-2">
    <div class="med-text pullquote regular orangetext col-12 col-md-10 col-lg-7 offset-md-1 offset-lg-2 pt-2 pb-3">
        {{ .Params.blockquote }}
    </div>
</div>


<div class="row pb-15">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 mt-1 mt-md-6 methods-body">
    {{ .Content | safeHTML | markdownify }} 
  </div>
</div>






  


{{ end }}



