{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
      <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <h2 tabindex="0">In the News</h2>
        <p tabindex="0">Media mentions of SEDA's work</p>
      </div>
     </div>
</div>


{{ range sort .Site.Data.news "date" "desc" }}
<div class="row news-item" id="">
   
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
        
   
           
               <p>{{ dateFormat "January 2, 2006" .date }}</p>
               <h4><a href="{{ .link }}" target="_blank">{{ .headline }}</a></h4>
               <p class="excerpt">{{ .excerpt | safeHTML }}</p>
               <span><a class="readmore" href="{{ .link }}" target="_blank">Read more at {{ .outlet }}</a></span>
               
         
   
    </div>
</div>
{{ end }}



{{ partial "subscribe.html" .}}

{{ end }}