{{ define "main" }}


{{ partial "nav2" . }}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6 offset-md-1 offset-lg-2 py-3 mt-15 mt-md-20">
    <h1>{{ .Params.displaytitle }}</h1>
  </div>
</div> 

<div class="row">
    <div class="regular f-16 col-12 col-md-6 col-lg-5 offset-md-1 offset-lg-2 py-3">
      {{ .Params.intro | safeHTML | markdownify }}</div>
</div>




<div class="row pb-15">
  <div class="col-12 col-md-5 col-lg-4 offset-md-1 offset-lg-2 mt-1 mt-md-6">
    {{ range first 5 (.Site.Data.people.people.team) }}
        <div class="memberName regular"><a href="{{ .link }}" target="_blank">{{ .name }}</a></div> 
        <p class="mb-4">{{ .org }}</p>
    {{ end }}
  </div>
  <div class="col-12 col-md-5 col-lg-4 mt-0 mt-md-6">
    {{ range first 8 (after 5 (.Site.Data.people.people.team)) }}
    <div class="memberName regular"><a href="{{ .link }}" target="_blank">{{ .name }}</a></div>  
      <p class="mb-4">{{ .org }}</p>
    {{ end }}
  </div>
</div>






  


{{ end }}



