<div id="drawer" class="drawer drop-shadow-left">
    <button id="closeDrawer" class="closebtn"></button>
    <div class="navlinks">
        {{ $showActiveNav := .Site.Params.showActiveNav }}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := "" }}
        {{ if eq $showActiveNav true }}
        {{ $isMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        {{ if or $isMenu (eq $currentPage.Title .Name) }}
        {{ $active = "nav-link-active active" }}
        {{ end }}
        {{ end }}
        <!-- {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }} -->
        {{ $text := print .Name | safeHTML }}
        <a class="nav-item nav-link {{ $active }}" tabindex="0" href="{{ .URL }}">
            {{ $text }}
        </a>
        {{ end }}
    </div>
    <div class="social">
        {{ partial "social.html" . }}
    </div>
</div>
