
<footer id="footer" class=" p-xl-0 m-xl-0">
    <!-- <div class="container-fluid p-xl-0 m-xl-0"> -->
      {{ .Site.Params.footerText | markdownify }}
      <!-- <div class="row p-xl-0 m-xl-0"> -->
        <div class="row p-xl-0 m-xl-0">
          <div class="navlinks scroll-to col-12 p-xl-0 mx-auto justify-content-center">
            
              <a class="" tabindex="0" href="/">
                  home
              </a>
              <a class="" data-scroll-target="work" tabindex="0" href="/#work">
                  work
              </a>
              <a href="/about" >about</a>
              <a class="" tabindex="0" href="/blog">
                  blog
              </a>
              <a class="" data-scroll-target="contact" tabindex="0" href="/#contact">
                  contact
              </a>
          
          </div>
          <div class="social col-12 mt-3 p-xl-0 d-flex justify-content-center">
              {{ partial "social.html" . }}
          </div>
     
    </div>
  </footer>
  
  