<div id="contact" class="contact-wrapper">
    <div class="row m-0">
        <div class="col-12 col-md-10 col-lg-5 offset-md-1 offset-lg-2 pt-8 pb-10 py-md-16">
            <h3 tabindex="0" class="dkgraytext mb-3">Contact Us</h3>
            <p>Please use the contact form below, or write to us at <a href="mailto:info@hyperobjekt.com">info@hyperobjekt.com</a>.</p>
            <form class="mt-3 mt-md-4" name="h0contact" data-netlify="true" method="POST">
                <input class="w-100 my-1 p-md-2" value="" aria-label="Name (required)" name="NAME" class="contact form-control light" id="" placeholder="Name (required)" required="true" type="text"> 
                <input class="w-100 my-1 p-md-2" value="" aria-label="Email Address" name="EMAIL" class="contact form-control light" id="" placeholder="Email address (required)" required="true" type="email"> 
                <textarea class="w-100 mt-1 mb-4 p-md-2" name="message" aria-label="Your message (required)" class="contact form-control light" placeholder="Your message (required)" required="true"></textarea> 
                <input class="btn btn-custom" value="SUBMIT" name="subscribe" id="" class="btn btn-primary" type="submit">
            </form>    
        </div>
    </div>
</div>