<nav class="navbar navbar-expand-md navbar-light">
    <!-- bg-white class on .navbar element makes bg white -->
    <div class="col-xs-12 col-xl-10 offset-xl-1 p-xl-0 flex-parent">
        <a class="navbar-brand" tabindex="0" aria-level="1" aria-label="{{ .Page.Title }} at {{ .Site.Title }}" href="{{ "/" | absURL }}">
        </a>
        <button class="drawer-toggle" id="toggleDrawer" type="button" aria-controls="#drawer" aria-label="Toggle navigation drawer">
            <span class="navbar-toggler-icon"></span>
            <!-- <span class="navbar-label">MENU</span> -->
        </button>
    </div>
</nav>
