<nav class="row m-0 inner-page-nav w-100 d-flex align-items-center justify-content-between">
    <div class="wordmark col-10 col-md-5 col-lg-4 offset-lg-1 pr-0 pr-lg-2">
        <a href="/" class=""><img class="logo" alt="Census Linking Project logo" src="/images/logo/clp-logo.svg"/>Census Linking Project</a></div>
    <div class="nav-menu col-md-7 col-lg-6 d-none d-md-flex justify-content-between pl-0 pl-lg-2">
        {{ $showActiveNav := .Site.Params.showActiveNav }}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := "" }}
        {{ if eq $showActiveNav true }}
            {{ $isMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ if or $isMenu (eq $currentPage.Title .Name) }}
            {{ $active = "nav-link-active active" }}
            {{ end }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        <a class="{{ $active }}" tabindex="0" href="{{ .URL | relURL }}">{{ $text }}</a>
        {{ end }}
    </div>
    <div class="col-1 d-none d-lg-block"></div>
    <div class="drawer-toggle d-md-none pr-3" id="toggleDrawer" aria-controls="#drawer" aria-label="Toggle navigation drawer">
        <span class="navbar-toggler-icon"></span>
    </div>
</nav>
